.App-header {
  background-color:rgb(6, 62, 135);
  color: white;
  display: flex;
  justify-content: space-around;
  height: 75px;
  padding: 20px 100px;
}

.App-header > h1 {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.App-intro {
  font-size: large;
}

h2 {
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
h2:hover {
  text-align: center;
  transform: scale(0.95);
}

li {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}